/* General */

* {
    margin:0px;
    padding:0px;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.my-logo {
    width: 50px;
    border-style: outset;
    border-color: #f5f0e5;
    border-width: 2px;
    border-radius: 10px;
}

.my-logo:hover {
    transform: scale(1.1);
}

.fa-bars {
    font-size: 2em;
    color:#ff77a9;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav li a{
    text-decoration: none;
    color: #e5eaf5;
    font-size: 2rem;
    margin-right: 10px;
}

nav li a:hover{
    color:#ff77a9;
    text-decoration: none
}

nav li a:active{
    color: #000051
}

.whatsapp-logo {
    font-size: 2em;
    color: #25D366
}

.whatsapp-logo:hover {
    transform: scale(1.2)
}

.top{
    text-align: right;
    margin-top: 70px;
    margin-right: 10px;
    overflow: hidden;
    
}

.top a{
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
}

.top i{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffc107;
    padding:0px 3px;
}

.agent{
    background-image: url(../images/techAgent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    display: none;
    justify-content: center;
    transform: scale(1.5) translateY(-40px)
}

.agent div{
    align-self:flex-end;
    text-align: center;
    margin-bottom: 8px;
}

.agent p{
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.social-media{
    max-width: 22px;
    padding: 0 3px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.social-media:hover{
    transform: scale(1.2);
    filter: grayscale(0%)
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-around;
}


.footer-content li{
    list-style: none;
}

.footer-content li a{
    margin-left: 10px;
    font-size: 1.5rem;
    list-style: none;
    color:#ff77a9;
    text-decoration: none;
}

.footer-content .title a{
    margin: 5px 0 0 0;
    font-size: 2rem;
    color: #e5eaf5;
    text-decoration: none;
}

.footer-content li a:Hover{
    color:#ffc107;
}

.footer-contact {
    justify-content: center;
    text-align: center;
    color: #ff77a9;
}

.footer-contact li{
    font-size: 1.3rem;
    list-style: none;
}

.footer-contact li a{
    font-size: 1.5rem;
    list-style: none;
    color: #e5eaf5;
}

.footer-contact li a:hover{
    text-decoration: ffc107;
    color:#ffc107;
}

.contact-map{
    order: 1;
    margin-bottom: 10px;
}

.copyright {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #000051;
    transform: translateY(-8px);
    border-style: outset;
    border-width: 2px;
    border-color: #ff77a9;
    margin-bottom: 0px;
    color: #e5eaf5;
}

.container-fluid {
    border-style: groove none groove none;
    border-width: 2px;
    border-color: #ff77a9;
}
.background-blue {
    background-color: #1A237E;
}

.title{
    color: #e5eaf5;
}

/* Index */

.main-index {
    background-image: url(https://esunique.com/wp-content/uploads/2017/12/Unique_Tendencias-telecomunicaciones-ahorro-2018-1024x512.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 30px;
}

.main-index h1{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    padding:10px;
    padding-bottom: 0px;
    width: 90%;
    text-shadow: 3px 3px 2px black;
}

.main-index button{
    font-size: 2rem;
    margin: 20px 5px 5px 5px;
    border: solid 1px;
    border-radius: 15px;
    padding: 5px 10px;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #4eb5f1;
    color: #ffff;

}

.main-index button:hover{
    background-color:#ff77a9;
    color: black;
}

.company-index{
    display: none;
    margin: 30px 0;
}

.company-index > p{
    text-align:center;
    font-size: 2rem;
    margin-top: 10px;
}

.company-images{
    display: flex;
    justify-content: space-around;
    filter: grayscale();
    margin-top: 10px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.company-images img{
    height: 100px;
    max-width: 170px;
}

#company-carousel{
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
}

#company-carousel img {
    display: inline-block;
    width: auto;
    max-width: 45%;
    filter: grayscale();
    height: 100px;
    justify-self: center;
    margin: 0 auto;
}

.news-index{
    margin-top: 10px;
    padding: 0 2rem;
}

.news-index article{
    text-align: center;
    border-style:groove;
    border-width: 0 0 2px 0;
    border-color: #ff77a9;
    margin: 2rem 0;
    /* look */
}

.news-index h2{
    font-size: 3rem;
    text-align: left;
    color: #000051
}

.news-index p{
    font-size: 2rem;
    text-align: justify;
}

.news-index img{
    width: 95%;
    margin: 10px auto;
}

.news-index article button {
    margin-bottom: 10px;
    background-color: #ff77a9;
}

.news-index article button {
    margin-bottom: 10px;
    background-color: #4eb5f1;
}

.news-index article button:hover {
    margin-bottom: 10px;
    background-color:#ff77a9;
}


.news-index article button.btn.collapsed:before {
    content: 'Ver Más';
    display: block;
    width: 70px;
    font-size: 1.5rem;
}

.news-index article button.btn:before {
    content: 'Ver Menos';
    display: block;
    width: fit-content;
    font-size: 1.5rem;
}

.aside-index {
    margin-top: 10px;
    height: max-content;
    top: 0px;
    margin-bottom:5px;
    background-color: #000051;
    padding-top:10px;
}

.aside-index iframe{
    width: 100%;
    height: 250px;
    display: block;
    margin-bottom: 15px;
}

.aside-index a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    padding-left: 5px;
    transition: 0.3s;
}

.aside-index a:before{
    color:#534bae;
    content:"> ";
}

.aside-index a:hover{
    color:#ffc107;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);

}

.aside-index p{
    font-size: 1.5rem;
    padding-left: 20px;
    color: #ff77a9;
}

/* Services */

.main-services{
    margin-top: 30px;
}

.services {
    color:  #e5eaf5;
}

.services td, th{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.services ul {
    text-align: left;
    list-style-position: inside;
    font-size: 3rem;
    padding: 3%;
    line-height: 3rem;
}

.services th{
    font-size: 2rem;
    background-color: #e5eaf5;
    color: black;
}

/* About Us */

.zona1 {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    background: linear-gradient(to top, #e5eaf5, whitesmoke);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray; }

.zona1 h1 {
    font-size: 4em; }

.zona1 p {
    font-size: 1.5rem;
    text-align: left; }

.zona2, .zona3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    background: linear-gradient(to top, #e5eaf5, whitesmoke);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray; }
    
.zona2 h2 {
    font-size: 4em; }

.zona2 h3 {
    font-size: 3em; }

.zona2 p, .zona3 p {
    font-size: 1.5rem;
    text-align: left; }

.teamContainer {
    text-align: center; }

.zona2, .zona3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center; }

.zona2 img {
    max-width: 200px;
    height: 200px;
    border-radius: 600px;
    margin: 5px auto;
    order: 1; }

.zona2 div, .zona3 div {
    order: 2; }

.zona3 {
    text-align: left;
    margin-bottom: 30px; }

.zona3 img {
    max-width: 200px;
    height: 200px;
    border-radius: 600px;
    margin: 5px auto; }

/* Reviews */

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: top;
    margin-top: 30px;
}

.gallery > div{
    width: 20%;
    min-width: 150px;
    transition: 1.5s;
    text-align: center;
}

.gallery img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    transition: 0.5s;
}

.gallery div p{
    font-size: 1rem;
    margin-top: 20px;
    display:none;
    text-align: center;
    transition: 2s;
    overflow: hidden;
}

.gallery img:hover {
    box-shadow: 0px 0px 30px 5px #534bae;
    transform: scale(1.03)
}

.gallery img:hover + p{
    display: inline-block;
    animation-name: Gallery-show;
    animation-duration: 1s;
}

@keyframes Gallery-show {
    0% {height: 0%;}
    25%{height: 25%;}
    50%{height: 50%;}
    75%{height: 75%;}
    100%{height: auto;}
}

.main-review .flex-review-l{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.main-review .flex-review-r{
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    margin-top:20px
}

.main-review img {
    width: 80px;
    height: 80px;
    align-self: center;
    border-radius: 30px;
}

.review-content {
    margin: 5px 10px;
}

.review-content h3 {
    font-size: 2rem;
    display: inline;
}

.review-content h4 {
    font-style: italic;
    font-size: 1.5rem;
}

.review-box {
    background: linear-gradient(to top, #e5eaf5, whitesmoke);
    padding: 5px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 5px 5px 10px gray
}

/* Contact */

.contact-background{
    background-image: url(../images/contact-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px 0px 0px;
}

.main-contact {
    margin: 0px auto;
    padding: 30px;
    max-width: 500px;
    border-radius: 20px;
    background-color: rgb(26, 35, 126,0.7);
}

.contact {
    font-weight: bold;
    color:  #e5eaf5;
    margin:auto;
    width: 100%;
}

.contact label{
    font-size: 2rem;
    text-align: start;
    margin-top: 15px;
}

.contact legend {
    font-size: 3rem;
    text-align: left;
}

.comments {
    text-align: center;
    justify-content: center;
}

.form-buttons {
text-align: center;
margin-top: 15px;
font-size: 15px;
}

.contact-error {
    font-size: 1rem
}

/* Media Querys */
/* Medianos o mas, cambia el grid*/
@media (min-width: 768px) { 

    .main-index h1{
        font-size: 5rem;
    }

    .top i{
        transform: translateY(35px);
        transition: 0.5s;
    }
    
    .top i:hover{
        transform: translateY(0px);
    }

    .aside-index{
        padding: 10px;
    }

    .aside-index iframe{
        height: auto;
    }

    .agent{
        display: flex;
    }

    .footer-contact{
        justify-content: end;
        text-align: end;
    }

    .zona1 img {
        width: 60%;
        margin: 30px; }

    .zona2, .zona3{
        flex-direction: row;
        align-content: center;
        margin: 30px auto; }

    .zona2 div, .zona3 div{
        order: 0;
        margin: auto 10px; }
    
    .zona3 div {
        text-align: left;
    }

    .zona2, .zona3 {
        text-align: right; } 
}

/* Pequeños dispositivos, cambian los elementos */
@media (min-width: 576px) {

    .company-index{
        display: block;
    }

    #company-carousel{
        display: none;
    }
}
